.shopAndReview{
    display: flex;
    /* flex-flow: ; */
    /* flex-wrap: ; */
    /* flex-direction: ; */
}
.shopAndReview-container{
    /* flex: 1 1 20px; */
    width: 70%;
    margin-left: 40px;
    border-right: 1px solid lightblue;
    margin-right: 10px;
}
.cart-container{
    width: 25%;
}
